<table>

<tr>
  <td> Cat birthday: <%= @cat.birth_date %></td>
</tr>

<tr>
<td> Cat color: <%= @cat.color %> </td>
</tr>
  <tr>
<td> Cat name: <%= @cat.name %> </td>
  </tr>
  <tr>
<td> Cat sex: <%= @cat.sex %> </td>
  </tr>
<tr>
    <td> Cat description: <%= @cat.description %> </td>
</tr>

</table>
